html
    head
        title User Manager
    body
        h1 Users
        table(style='width:100%', border='1')
            tr
                th User ID
                th First Name
                th Last Name
                th Email
                th Age
            each item in users
                tr
                    td= item.userId
                    td= item.firstName
                    td= item.lastName
                    td= item.email
                    td= item.age
                    td
                        a(href=`/edit/${item.userId}`, name='edit') Edit
                    td
                        form(method="post", action="/table")
                            input(type="hidden", id="userId", name="userId" value=`${item.userId}`)
                            button(name='delete', id="delete") Delete